---
import { LinkedInLogoIcon } from "@radix-ui/react-icons";
import { Github } from "./Icons";
import { ArrowUpIcon } from "lucide-react";
---

<footer class="bg-white border-t border-t-neutral-200">
  <div
    class="mx-auto max-w-screen-xl px-4 pb-10 pt-10 sm:px-6 lg:px-8 lg:py-16"
  >
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
      <div>
        <div class="flex justify-center text-teal-600 sm:justify-start">
          <span
            class="text-xl lg:text-4xl block font-extrabold tracking-tight bg-clip-text text-transparent bg-gradient-to-b from-neutral-600 to-neutral-900 bg-opacity-100"
            >Alfonso Chavarro
          </span>
        </div>

        <ul class="mt-8 flex justify-center gap-6 sm:justify-start md:gap-6">
          <li>
            <a
              href="#"
              rel="noreferrer"
              target="_blank"
              class="text-neutral-800 transition hover:scale-105"
            >
              <span class="sr-only">GitHub</span>
              <Github className="size-7" />
            </a>
          </li>

          <li>
            <a
              href="#"
              rel="noreferrer"
              target="_blank"
              class="text-neutral-800 transition hover:scale-105"
            >
              <span class="sr-only">LinkedIn</span>
              <LinkedInLogoIcon className="size-7" />
            </a>
          </li>
        </ul>
      </div>

      <div class="w-full flex justify-end">
        <button
          onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
          class="rounded-full bg-black size-[60px] flex items-center justify-center"
        >
          <ArrowUpIcon className="text-white size-[26px]" />
        </button>
      </div>
    </div>
  </div>
</footer>
