---
import { Button } from "./ui/button";
import { Download } from "lucide-react";
---

<section class="h-[100dvh] flex items-center">
  <div class="mx-auto container gap-5">
    <div class="h-full w-full lg:w-[50%] mx-auto">
      <div
        class="flex gap-4 lg:gap-10 flex-col lg:flex-row w-[80%] lg:w-full mx-auto"
      >
        <div class="size-[90px] min-w-[90px] rounded-full overflow-hidden mb-3">
          <img
            src="https://alfonso-portafolio.vercel.app/_next/static/media/me.67abf232.jpg"
            alt=""
            class="h-full w-full object-cover"
          />
        </div>

        <div>
          <h1 class="text-4xl lg:text-5xl block font-extrabold tracking-tight">
            <span
              class="bg-clip-text text-transparent bg-gradient-to-b from-neutral-600 to-neutral-900 bg-opacity-100"
              >Alfonso Chavarro
            </span>
            👋
          </h1>
          <div class="flex items-center gap-2 my-2">
            <span class="w-[80px] h-[2px] bg-black"></span>
            <h2 class="text-xl lg:text-lg font-bold text-neutral-800">
              Frontend Developer
            </h2>
          </div>
          <p class="mb-6 text-pretty">
            Desarrollador Frontend apasionado por crear experiencias de usuario
            atractivas y funcionales. Con experiencia en el desarrollo de
            aplicaciones web empleando tecnologías web.
          </p>

          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://drive.google.com/file/u/0/d/1_lWkwaeJVoUhar98QXv90NtSlGKMFPhc/view?usp=sharing&pli=1"
          >
            <Button className="py-6 px-6 font-bold">
              <span class="text-lg">Descargar CV</span>
              <Download className="size-8 ml-3" />
            </Button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
