---
import Heading from "./Heading.astro";
import Project from "./Project.astro";
import Separator from "./Separator.astro";
import { projects } from "@/lib/data";
---

<section class="min-h-[70dvh]">
  <Separator />
  <div
    class="mx-auto w-full px-4 sm:px-0 sm:w-[80%] lg:w-full max-w-[1280px] py-32 flex flex-col lg:flex-row justify-between relative"
  >
    <div class="w-full lg:w-[30%] h-full lg:sticky lg:top-12 mb-6 lg:mb-0">
      <Heading>Proyectos</Heading>
      <p class="text-xl mt-3 mb-8 text-start">
        Estos son algunos de los proyectos en los que he trabajado
        recientemente.
      </p>
    </div>

    <div class="w-full lg:w-[53%] flex flex-col gap-9">
      {projects.slice(0, 5).map((project) => <Project {...project} />)}
    </div>
  </div>
</section>
