---
import Heading from "./Heading.astro";
import {
  Astro as AstroIcon,
  CSS,
  Expressjs,
  HTML5,
  JavaScript,
  Nextjs,
  Nodejs,
  Python,
  ReactIcon,
  Sass,
  TailwindCSS,
  TypeScript,
} from "./Icons";
import Separator from "./Separator.astro";
import Tech from "./Tech.astro";
import Technology from "./Technology.astro";
const technologies = [
  {
    name: "HTML5",
    icon: HTML5,
  },
  {
    name: "CSS",
    icon: CSS,
  },
  {
    name: "JavaScript",
    icon: JavaScript,
  },
  {
    name: "React.js",
    icon: ReactIcon,
  },
  {
    name: "Next.js",
    icon: Nextjs,
  },
  {
    name: "Astro",
    icon: AstroIcon,
  },
  {
    name: "TailwindCSS",
    icon: TailwindCSS,
  },
  {
    name: "TypeScript",
    icon: TypeScript,
  },
  {
    name: "Express.js",
    icon: Expressjs,
  },
  {
    name: "Sass",
    icon: Sass,
  },
  {
    name: "Node",
    icon: Nodejs,
  },
  {
    name: "Python",
    icon: Python,
  },
];
---

<section class="py-36">
  <!-- <Separator /> -->
  <div class="mx-auto max-w-[1280px]">
    <div
      class="flex flex-col items-center justify-between gap-3 py-2 px-4 md:px-0"
    >
      <div class="w-full">
        <Heading class="text-center"> This is My Tech Stack</Heading>
        <p class="text-center mx-auto text-xl mt-3 mb-8 max-w-[600px]">
          One of the marvelous things about technology is that it enables us to
          build and create in ways we couldn't as individuals.
        </p>
      </div>

      <div class="relative w-full px-4 md:px-0 md:w-[80%]">
        <div
          class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4 items-center"
        >
          {
            technologies.map((tech, index) => (
              <Tech>
                <tech.icon className="w-full h-full" />
                <span
                  class="text-center text-sm text-neutral-900 font-semibold"
                  slot="tech-name"
                >
                  {tech.name}
                </span>
              </Tech>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
