<article
  class="p-5 border border-neutral-100 rounded-md flex flex-col gap-3 items-center text-center justify-center aspect-square hover:bg-neutral-200/20 shadow-sm"
>
  <div class="h-[65px] w-[65px]">
    <slot />
  </div>
  <slot name="tech-name" />
</article>
